.vega-actions a {
    margin-right: 12px;
    color: red;
    font-weight: normal;
    font-size: 13px;
}
.error {
    color: red;
}
#title {
    font-weight: bold;
}

body {
    background-color: #f8f9fc;
}
.container-fluid {
    opacity: 1;
    transition: all .75 ease;
}
#map-title {
    text-align: center;
}
#right-pane {
    text-align: right;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}