.vega-actions a {
    margin-right: 12px;
    color: red;
    font-weight: normal;
    font-size: 13px;
}
.error {
    color: red;
}
#title {
    font-weight: bold;
}

body {
    background-color: #f8f9fc;
}
.container-fluid {
    opacity: 1;
    transition: all .75 ease;
}
#map-title {
    text-align: center;
}
#ball-title {
    text-align: center;
}
#quant-title {
    text-align: center;
}
#ben-title {
    text-align: center;
}
#left-pane {
    border-right: 1px solid grey;
}
#right-pane {
    text-align: right;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.small-text {
    font-size: 0.9em;
}
